<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<beans>
	<bean name="developerRepository" 
		class="com.springtest.repository.HibernateDeveloperRepositoryImpl">

	</bean>
		
<bean name="developerService"
		class="com.springtest.service.DeveloperServiceImpl"  autowire="constructor">
				<!--<constructor-arg index="0" ref="developerRepository"></constructor-arg>-->
		
		
	</bean>
	
	
	
   <!--detail> ok so lets walk through this alex
   				the first bean above with the name= reference ties to the bean below's reference.
   				
   				this would essentailly look like this 
   				
   				DeveloperRepository developerRepository = new DeveloperServiceImpl();
   				
   				we are calling the setter of developer repository

	  </detail-->
	
 
</beans>




</beans>
